.todoList {
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
    padding: 0 15px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    
}
input {
    outline: none;
}
a {
    text-decoration: none;
}
p, h1, h2, h3, ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
input {
    padding: 5px;
    color: rgb(75, 75, 75);
    width: 70%;
}